#{extends '/syrena/templatePM.html' /}
#{set title:'Home Polícia Militar' /}

#{set 'moreStyles'}
<style type="text/css" rel="stylesheet">

</style>
#{/set}

#{form @PM.aquisicaoRenovacao(), method:'POST', enctype:'multipart/form-data'}

    <div class="magic-layout isotope" style="position: relative; overflow: hidden; height: 3865px;">
        <div class="box magic-element width-full isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <h2 class="box-heading">
                Fornecedor
            </h2>
            <form class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input1">Fornecedor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input1" placeholder="Fornecedor" name="fornecedor">
                        </div>
                        <label class="col-sm-2 control-label" for="input2">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input2" placeholder="Endereço de Entrega" name="endereco">
                        </div>
                </fieldset>
                <br/>
                <h2 class="box-heading">
                    Formulário
                </h2>
                        <label class="col-sm-2 control-label" for="input3">Número de Ordem</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input3" placeholder="Número de Ordem" name="nordem">
                        </div>
                        <label class="col-sm-2 control-label" for="input4">Requerente</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input4" placeholder="Nome completo do requerente" name="requerente">
                        </div>
                        <label class="col-sm-2 control-label" for="input5">Cargo ou Posto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input5" placeholder="Cargo, Posto ou Graduação" name="cargo">
                        </div>
                        <label class="col-sm-2 control-label" for="input6">Unidade de Lotação</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input6" placeholder="Unidade de Lotação" name="lotacao">
                        </div>
                        <label class="col-sm-2 control-label" for="input7">CPF</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input7" placeholder="CPF" name="cpf">
                        </div>
                    </div><!-- /form-group -->
            </form><!-- /form -->
        </div><!-- /box -->
    </div>

#{/form}