#{extends '/syrena/templatePM.html' /}
#{set title:'Home Polícia Militar' /}

#{set 'moreStyles'}
<style type="text/css" rel="stylesheet">

</style>
#{/set}

#{form @PM.aquisicaoRenovacao(), method:'POST', enctype:'multipart/form-data'}

    <div class="magic-layout isotope" style="position: relative; overflow: hidden; height: 3865px;">
        <div class="box magic-element width-full isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <h2 class="box-heading">
                <div class="btn-group pull-right">
                    <a href="#" role="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon ion-ios7-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="form-theme" data-toggle="default" href="#">Default</a></li>
                        <li><a class="form-theme" data-toggle="flat" href="#">Flat</a></li>
                        <li><a class="form-theme" data-toggle="ion" href="#">Ion</a></li>
                        <li class="divider"></li>
                        <li><a class="form-theme" data-toggle="flat-ion" href="#">Flat &amp; Ion</a></li>
                        <li class="divider"></li>
                        <li><a class="form-theme" data-toggle="disabled-fieldset" href="#">Toggle Disable</a></li>
                    </ul>
                </div>
                Aquisição
            </h2>
            <form class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input1">Fornecedor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input1" placeholder="Fornecedor" name="fornecedor">
                        </div>
                        <label class="col-sm-2 control-label" for="input2">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input2" placeholder="Endereço de Entrega" name="endereco">
                        </div>
                    </div><!-- /form-group -->
            </form><!-- /form -->
        </div><!-- /box -->
    </div>

#{/form}