#{extends '/syrena/templatePM.html' /}
#{set title:'Formulário de Aquisição' /}

#{set 'moreStyles'}
<style type="text/css" rel="stylesheet">

</style>
#{/set}

#{form @PM.salvarAnexo1(), method:'POST', enctype:'multipart/form-data'}

    <div class="magic-layout isotope" style="position: relative; overflow: hidden; height: 3865px;">
        <div class="box magic-element width-full isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
            <form class="form-horizontal" role="form">
                <h2 class="box-heading">
                    Fornecedor
                </h2>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input1">Fornecedor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input1" placeholder="Fornecedor" name="fornecedor">
                        </div>
                        <label class="col-sm-2 control-label" for="input2">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input2" placeholder="Local de Entrega" name="endereco">
                        </div>
                    </div>
                </fieldset>
                <br/>
                <h2 class="box-heading">
                    Requerente
                </h2>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input3">Número de Ordem</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="input3" placeholder="Número de Ordem" name="nordem">
                        </div>
                        <label class="col-sm-2 control-label" for="input4">Requerente</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input4" placeholder="Nome completo do requerente" name="requerente">
                        </div>
                        <label class="col-sm-2 control-label" for="input5">Cargo ou Posto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input5" placeholder="Cargo, Posto ou Graduação" name="cargo">
                        </div>
                        <label class="col-sm-2 control-label" for="input6">Unidade de Lotação</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input6" placeholder="Unidade de Lotação" name="lotacao">
                        </div>
                        <label class="col-sm-2 control-label" for="input7">CPF</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input7" placeholder="CPF" name="cpf" data-mask="999.999.999-99">
                        </div>
                    </div><!-- /form-group -->
                </fieldset>
                <br/>
                <h2 class="box-heading">
                    Armas ou Munições
                </h2>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input8">Quantidade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input8" placeholder="Quantidade" name="quantidade">
                        </div>
                        <label class="col-sm-2 control-label" for="input9">Tipo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input9" placeholder="Tipo" name="tipo">
                        </div>
                        <label class="col-sm-2 control-label" for="input10">Marca</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input10" placeholder="Marca" name="marca">
                        </div>
                        <label class="col-sm-2 control-label" for="input11">Modelo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input11" placeholder="Modelo" name="modelo">
                        </div>
                        <label class="col-sm-2 control-label" for="input12">Calibre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input12" placeholder="Calibre" name="calibre">
                        </div>
                    </div><!-- /form-group -->
                </fieldset>
                <br/>
                <h2 class="box-heading">
                    Observações
                </h2>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputTextarea">Observações</label>
                        <div class="col-sm-10">
                            <textarea rows="3" class="form-control" id="inputTextarea" placeholder="Observações" name="observacao"></textarea>
                        </div>
                    </div>
                </fieldset>
                <br/>
                <input class="btn btn btn-primary" type="submit" name="submit" value="Salvar">
            </form><!-- /form -->
        </div><!-- /box -->
    </div>

#{/form}