#{extends '/syrena/templatePM.html' /}
#{set title:'Home Polícia Militar' /}

#{set 'moreScripts'}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Tipo', 'Quantidade'],
          ['Aquisições',     ${qtdAquisicoes}],
          ['Renovações',      ${qtdRenovacoes}],
          ['Transferências',  ${qtdTransferencias}],
        ]);

        var options = {
          title: 'Tipos de Requisições'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
#{/set}

<div id="piechart" style="width: 900px; height: 500px;"></div>

#{set 'moreStyles'}
    <style type="text/css" rel="stylesheet">

    </style>
#{/set}