<div class="magic-layout">
    <div id="panel7" class="panel panel-default magic-element width-full">
        <div class="panel-heading">
            <div class="panel-icon"><i class="icon ion-ios7-photos-outline"></i></div>
            <div class="panel-actions">
                <a role="button" data-refresh="#panel7" title="refresh" class="btn btn-sm btn-icon">
                    <i class="icon ion-refresh"></i>
                </a>
                <a role="button" data-expand="#panel7" title="expand" class="btn btn-sm btn-icon">
                    <i class="icon ion-arrow-resize"></i>
                </a>
                <a role="button" data-collapse="#panel7" title="collapse" class="btn btn-sm btn-icon">
                    <i class="icon ion-chevron-down"></i>
                </a>
                <a role="button" data-close="#panel7" title="close" class="btn btn-sm btn-icon">
                    <i class="icon ion-close-round"></i>
                </a>
            </div><!-- /panel-actions -->
            <h3 class="panel-title">DataTables</h3>
        </div><!-- /panel-heading -->
        <div class="table-responsive">
            <table class="table table-hover datatables">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>CPF</th>
                    <th>Observacoes</th>
                </tr>
                </thead>
                <tbody>
                #{list items:_aquisicoes, as:'aquisicao'}
                <tr class="gradeA">
                    <td class="center">${aquisicao.id}</td>
                    <td>${aquisicao.CPF}</td>
                    <td>${aquisicao.observacao}</td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>
    </div><!-- /panel7 -->
</div><!-- /magic-layout -->

#{set 'moreScripts'}
<script src="assets/datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/datatables/js/datatables.js"></script>
<script type="text/javascript">
        $(function(){

            // panel refresh
            $('.panel [data-refresh]').on('click', function(){
                var $this = $(this),
                    panel = $this.attr('data-refresh');

                setTimeout(function(){
                    $(panel).find('.panel-progress').remove();  // remove proggress spinner
                }, 1000 );
            });


            // datatables
            $('.datatables').dataTable({
                "iDisplayLength": -1,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
            /** variation datatables style
            $('.datatables').dataTable({"sPaginationType": "bs_normal"});
            $('.datatables').dataTable({"sPaginationType": "bs_two_button"});
            $('.datatables').dataTable({"sPaginationType": "bs_four_button"});
            $('.datatables').dataTable({"sPaginationType": "bs_full"});
            */
        })
    </script>
#{/set}