#{extends '/syrena/templateApplication.html' /}
#{set title:'Usuários' /}

#{set 'moreStyles'}
<style type="text/css" rel="stylesheet">

</style>
#{/set}

#{form @Usuarios.salvar(), method:'POST', enctype:'multipart/form-data'}

<input type="hidden" name="id" value="${entity.id}"/>
<div class="magic-layout isotope" style="position: relative; overflow: hidden; height: 3865px;">
    <div class="box magic-element width-full isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
        <form class="form-horizontal" role="form">
            <h2 class="box-heading">
                Dados
            </h2>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input1">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input1" placeholder="Nome" name="nome" value="${entity.nome}">
                    </div>
                    <label class="col-sm-2 control-label" for="input2">E-mail</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input2" placeholder="E-mail" name="email" value="${entity.email}">
                    </div>
                    <label class="col-sm-2 control-label" for="input3">Senha</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input3" placeholder="Senha" name="senha" value="${entity.password}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputSelect">Instituição</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputSelect" name="instituicao">
                            <option #{if entity.instituicao.getDescricao().equals("Exército")} selected #{/if} value="EXERCITO">Exército</option>
                            <option #{if entity.instituicao.getDescricao().equals("Polícia Militar")} selected #{/if} value="POLICIAMILITAR">Polícia Militar</option>
                            <option #{if entity.instituicao.getDescricao().equals("Administrador")} selected #{/if} value="ADMIN">Administrador</option>
                        </select>
                    </div>
                </div>
                <label class="col-sm-2 control-label" for="input4">Matrícula</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input4" placeholder="Matrícula" name="matricula" value="${entity.matricula}">
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputSelect2">Estado</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputSelect2" name="estado">
                            #{list items:estados, as:"estado"}
                                <option #{if entity.estado.getDescricao().equals(estado.descricao)} selected #{/if} value="${estado}">${estado.descricao}</option>
                            #{/list}
                        </select>
                    </div>
                </div>
            </fieldset>
                <br/>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputSelect3">Foto</label>
                    <div class="fileinput fileinput-new" id="inputSelect3" data-provides="fileinput"><input type="hidden">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;">
                            #{if userPhoto.exists()}
                                <img src="/data/attachments/${userPhoto.UUID}" alt="">
                            #{/if}
                        </div>
                        <div>
                            <span class="btn btn-ion btn-primary btn-file">
                                <span class="fileinput-new">Selecionar Imagem</span>
                                <span class="fileinput-exists">Alterar</span>
                                <input type="file" name="foto" accept="image/*">
                            </span>
                        </div>
                    </div>
                </div>

            <br/>
            <input class="btn btn btn-primary" type="submit" name="submit" value="Salvar">
        </form><!-- /form -->
    </div><!-- /box -->
</div>

#{/form}